# Project Introduction
_______________________________________________________________________________________________________________________________

This project concerns the simulation and creation of a real-world phenomenom dataset and compare the variables on it, using python packages as Numpy.In the project will be covered the academical requested points below:

- Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four diﬀerent variables.
- Investigate the types of variables involved, their likely distributions, and their relationships with each other.
- Synthesise/simulate a data set as closely matching their properties as possible.
- Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook.

# Project Idea

After research I will pick the real-world phenomenom of the life expectancy. 

Life expectancy is defined as the mean number of years that a new-born child can expect to live if subjected throughout his life to the current mortality conditions (age specific probabilities of dying).

I have noticed that there are lots of studies on this matter and the factors to consider the variables can be wide, including social, economics, technological, demographic, quality of health, medical care, diet, among others. This wide range of opportunitties and variables make me think is the best option for this project. For evaluating the life expectancy of men and women I will take in consideration variables as the life expentancy by gender, the differences between boths, the countries of the research and the gross income per capita. 

The data choosen is randomly created, trying to have parameters similar to real and have been taken considering other studies already done, that will be named in the project.

As main variables you will see two variables of life expectancy for men and women, this information will allow me to visualize the influence between both variables and the rest of the data. Both variables will be float numbers in line with real statistics taken from this [web](https://ec.europa.eu/eurostat/databrowser/view/sdg_03_10/default/bar?lang=en)

For this purpose we will evaluate the data for 4 countries represented with integer numbers: 1. France, 2. Iceland, 3. Norway, 4. Sweden

There are two variables for life expectancy for females and males represented with float numbers and they have a uniform distribution as the data is similar in Europe for this scale and as mentioned taking in consideration different analysis already done which are all referred below. 

The variable population is a random integer number and limited to a population between 100.000 and 1.000.000 which mean that in each country we take in consideration some cities.

Life expectancy female and males, years,  population, continent

Creation of Variables: The first variable we will create is Country, we are going to evaluate 4 countries and represent them by number1,2,3,4

In [87]:
import numpy as np
import panda as pd

ModuleNotFoundError: No module named 'panda'

Country

In [74]:
c1=np.array([1,2,3,4])

In [75]:
c2=np.repeat(c1, 25)

In [76]:
c2

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4])

In [77]:
r1 = reshape(c2, (100,1))

NameError: name 'reshape' is not defined

Life Expectancy Females: This data was taken thinking in similar

In [78]:
lef= np.random.uniform(81,83,100)

Life Expectancy Males

In [79]:
lem= np.random.uniform(74,76,100)

Gross National Income Per Capita, real data modified from [here](https://www.prb.org/international/indicator/gross-national-income/snapshot)

In [80]:
ipc= np.random.randint(low=45000, high=76000, size=100)

In [81]:
ipc

array([71088, 65788, 56610, 59193, 64677, 73565, 58161, 75876, 68291,
       51678, 50538, 45182, 74849, 56669, 53690, 48382, 66798, 75129,
       73307, 52127, 68838, 50597, 73022, 58958, 69317, 75282, 51958,
       49045, 68422, 74409, 56680, 65494, 72995, 71997, 54110, 49277,
       72678, 75234, 65291, 70641, 63348, 55871, 62729, 60308, 66969,
       67698, 67195, 63246, 57775, 53617, 49047, 55319, 60892, 54610,
       59430, 65728, 66784, 50412, 47149, 74313, 47917, 57826, 50479,
       75092, 54293, 55654, 65217, 63951, 49065, 45097, 56691, 61926,
       48360, 70702, 75718, 64468, 52471, 49280, 51676, 56147, 49325,
       54791, 61546, 50313, 67369, 51872, 50057, 68750, 47180, 71088,
       60512, 51429, 49310, 74523, 75291, 67617, 59847, 73076, 69852,
       48869])

In [88]:
df= pd.DataFrame()
Country = c2
Females = lef
Males = lem
IPC = ipc
df['Country'] = c2
df['Females'] = lef
df['Males'] = lem
df['IPC'] = ipc

ModuleNotFoundError: No module named 'panda'

In [86]:
df

    Country    Females      Males    IPC
0         1  81.409032  75.719994  71088
1         1  82.685116  75.370435  65788
2         1  81.182474  74.153302  56610
3         1  81.823876  75.651024  59193
4         1  81.428628  74.592066  64677
..      ...        ...        ...    ...
95        4  81.999312  74.944250  67617
96        4  82.796570  74.745038  59847
97        4  81.724469  74.837151  73076
98        4  82.092451  74.628178  69852
99        4  81.791368  74.659800  48869

[100 rows x 4 columns]

## References
- https://ec.europa.eu/eurostat/databrowser/view/sdg_03_10/default/bar?lang=en
- https://www.kaggle.com/kumarajarshi/life-expectancy-who
- https://www.statista.com/statistics/270861/life-expectancy-by-continent/
- https://www.researchgate.net/figure/Life-expectancy-and-income-in-1941-focusing-on-Russia-Ukraine-and-Belarus2_fig7_317236927
- https://rpubs.com/arjan/27543
- chrisalbon.com/python/basics/generating_random_numbers_with_numpy/
- https://www.kaggle.com/kumarajarshi/life-expectancy-who
- https://pbpython.com/categorical-encoding.html
- https://www.prb.org/international/indicator/gross-national-income/snapshot
https://www.prb.org/international/geography/europe